
@media screen and (max-width: 550px) {
  .main {
    z-index: 1;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    gap: 1rem;
  }

  .baner-cont {
    flex-direction: column;
    align-items: center;
  }

  .ttlNombre {
    position: relative;
    height: fit-content;
    bottom: 0rem;
    font-size: 2rem;
  }

  .tb1 {
    position: relative;
    bottom: 0rem;
    height: 3rem;
    align-items: center;
  }

  .perfil {
    flex-direction: column;
  }

  .sec {
    padding-inline: 5%;
  }
  .sec-ficha {
    padding: 2rem;
  }

  .carrusel{
     gap: 10rem;
  }

  

}

@media screen and (max-width: 1300px) {
  .proyecto{
    width: 45%;
  }
  .baner-cont {
    background-image: url(recursos/banner2.png);
    background-position: center center;
  }
  
}

@media screen and (max-width: 768px) {

  .main {
    margin-top: 11rem;
    z-index: 1;
  }
  

  .ficha-cont {
    flex-direction: column;
    gap: 2rem;
  }
  .baner-cont {
   
    background-image: url(recursos/banner.png);
  
  }
  .sobre-mi {
    width: 100%;
  }

  .redes {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .herramientasBox{
   
    background-color: var(--secondary-color);
    width: 100%;
  }

.carrusel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.proyectos-cont{
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.proyecto{
  width: 100%;
}

}

