:root {
  --primary-color: #ffa500;
  --secondary-color: #0e0e0e;
  --accent-color: ;
  --text-color: #ffffff;
  --background-color: #000000;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
}
.body::-webkit-scrollbar {
  padding: 0;
  display: none;
}

.contenido {
  margin: 0;
  background-color: var(--background-color);
  z-index: 0;
  color: var(--text-color);
  width: 100%;
}
h1 {
  margin: 0;
  font-size: 4rem;
}

h2 {
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
  padding-inline: 5rem;
  top: 0;
  width: 100%;
  background-color: #0e0e0e;
  gap: 1rem;
  z-index: 100;
}
.navbar :first-child {
  justify-content: left;
}

.nav-title {
  font-family: sans-serif;
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  gap: 0.5rem;
}

#nav-tittle2 {
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  padding-inline: 0.3rem;
  color: var(--background-color);
}

.nav-elementos {
  font-family: sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 3rem;
}

.btnMenu {
  display: none;
}
li {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  z-index: 1;

}


.baner-cont{
display: flex;
flex-direction: row;
padding: 2.5rem;
min-height: 15rem;
justify-content: space-between;
background-color: var(--secondary-color);
gap: 1rem;
}

.perfil{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.ttlNombre{
  position: relative;
  height: fit-content;
  bottom: -10rem;
  font-size: 2rem;
}
.ftoPerfil{

height: 15rem;
}

.tb1{
  position: relative;
  bottom: -10rem;
  height: 3rem;
}
.tb1Fl1{
  font-size: 1.5rem;
}

.sec {
padding-inline: 5rem;
margin-block: 5rem;
}
.ficha-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.sobre-mi {
  width: 30%;
}

.redes{
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 15%;
  gap: 1rem;
 
}

.redes-op{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.redes-img{
  height: 3rem;
  width: 3rem;
  background-size:contain;
}

.redes-text{
  font-size: 1rem;
}
.herramientas{
  display: flex;
  flex-direction:column ;
  height: fit-content;
  width: 40%;
  gap: 1rem;
  background-color: var(--secondary-color);
}

.carrusel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carrusel img{
  height: 3rem;
  width: 3rem;
}

footer {
  background-color: var(--secondary-color);
  padding: 0.5rem;
}
.foot-elementos {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
}
